
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenek Ekleme Bölümü</h2>
<form method="post">
    <label>Proje Adı</label>
    <input type="text" class="form-control" name="Title" />
    <label>Proje İçeriği</label>
    <input type="text" class="form-control" name="Description" />
    <label>Kategori</label>
    <input type="text" class="form-control" name="ProjectCategory" />
    <br />
    <button class="btn btn-info">Projeyi Ekle</button>

</form>

